### Guided Project: Mobile App for Lottery Addiction


Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set has data for 3,665 drawings, dating from 1982 to 2018 (we'll come back to this).

In [1]:
# helper functions to create factorial, permutation and combination

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
def permutations(n, k):
    return factorial(n) / factorial(n-k)

def combinations(n, k):
    return factorial(n) / (factorial(k) * factorial(n-k))

In [2]:
def one_ticket_probability(my_list):
    total_combinations = combinations(49, 6)
    prob = (1 / total_combinations) * 100
    print("There are {:,} possible combinations".format(int(total_combinations)))
    print("Probability of winning with {0} numbers is {1:.8f}".format(my_list, prob))

In [3]:
one_ticket_probability([1, 2, 3, 4, 5, 6])

There are 13,983,816 possible combinations
Probability of winning with [1, 2, 3, 4, 5, 6] numbers is 0.00000715

In [4]:
one_ticket_probability([2, 3, 4, 5, 5, 5])

There are 13,983,816 possible combinations
Probability of winning with [2, 3, 4, 5, 5, 5] numbers is 0.00000715

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
drawings_df = pd.read_csv('649.csv')

In [7]:
drawings_df.shape

(3665, 11)

In [8]:
drawings_df.head(5)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [9]:
drawings_df.tail(5)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [10]:
def extract_numbers(row):
    num1 = row['NUMBER DRAWN 1']
    num2 = row['NUMBER DRAWN 2']
    num3 = row['NUMBER DRAWN 3']
    num4 = row['NUMBER DRAWN 4']
    num5 = row['NUMBER DRAWN 5']
    num6 = row['NUMBER DRAWN 6']
    return {num1, num2, num3, num4, num5, num6}

In [11]:
six_winning_nums = drawings_df.apply(extract_numbers, axis = 1)

In [12]:
six_winning_nums.head(10)

0     {3, 41, 43, 12, 11, 14}
1     {33, 36, 37, 39, 8, 41}
2      {1, 6, 39, 23, 24, 27}
3      {3, 9, 10, 43, 13, 20}
4     {34, 5, 14, 47, 21, 31}
5     {8, 41, 20, 21, 25, 31}
6    {33, 36, 42, 18, 25, 28}
7     {7, 40, 48, 17, 16, 31}
8     {5, 37, 38, 10, 23, 27}
9     {4, 37, 46, 15, 48, 30}
dtype: object

In [13]:
def check_historical_occurence(user_input, winning_nums):
    
    total_combinations = combinations(49, 6)
    prob = (1 / total_combinations) * 100
    
    user_input_set = set(user_input)
    res = winning_nums == user_input_set
    if res.sum() == 0:
        print('Number never occured in the past')
        print("There are {:,} possible combinations".format(int(total_combinations)))
        print("Probability of winning with {0} numbers is {1:.8f}".format(user_input, prob))
    else:
        print('Number did occur in the past: ' + str(res.sum()) + ' time(s)')
        print("There are {:,} possible combinations".format(int(total_combinations)))
        print("Probability of winning with {0} numbers is {1:.8f}".format(user_input, prob))

In [14]:
check_historical_occurence([3, 41, 43, 12, 11, 14], six_winning_nums)

Number did occur in the past: 1 time(s)
There are 13,983,816 possible combinations
Probability of winning with [3, 41, 43, 12, 11, 14] numbers is 0.00000715

In [21]:
def multi_ticket_probability(num_tickets):
    num_successful_outcomes = num_tickets
    total_outcomes = combinations(49, 6)
    prob = num_successful_outcomes / total_outcomes
    print("There are {:,} possible combinations".format(int(total_outcomes)))
    print("Probability of winning with {0} tickets is {1:.8f}".format(num_tickets, prob))
    print("------------------------------------")

In [22]:
for i in [1, 10, 100, 10000, 1000000, 6991908, 13983816]:
    multi_ticket_probability(i)

There are 13,983,816 possible combinations
Probability of winning with 1 tickets is 0.00000007
------------------------------------
There are 13,983,816 possible combinations
Probability of winning with 10 tickets is 0.00000072
------------------------------------
There are 13,983,816 possible combinations
Probability of winning with 100 tickets is 0.00000715
------------------------------------
There are 13,983,816 possible combinations
Probability of winning with 10000 tickets is 0.00071511
------------------------------------
There are 13,983,816 possible combinations
Probability of winning with 1000000 tickets is 0.07151124
------------------------------------
There are 13,983,816 possible combinations
Probability of winning with 6991908 tickets is 0.50000000
------------------------------------
There are 13,983,816 possible combinations
Probability of winning with 13983816 tickets is 1.00000000
------------------------------------

In [28]:
def probability_less_6(num):
    total_outcomes = combinations(49, 6)
    remaining_outcomes = combinations(43, 6 - num)
    successful_outcomes = combinations(6, num) * remaining_outcomes
    prob = successful_outcomes / total_outcomes
    print("There are {:,} possible combinations".format(int(total_outcomes)))
    print("Probability of having exactly {0} winning numbers is {1:.8f}".format(num, prob))
    print("------------------------------------")

In [44]:
for i in range(1, 7):
    probability_less_6(i)

There are 13,983,816 possible combinations
Probability of having exactly 1 winning numbers is 0.41301945
------------------------------------
There are 13,983,816 possible combinations
Probability of having exactly 2 winning numbers is 0.13237803
------------------------------------
There are 13,983,816 possible combinations
Probability of having exactly 3 winning numbers is 0.01765040
------------------------------------
There are 13,983,816 possible combinations
Probability of having exactly 4 winning numbers is 0.00096862
------------------------------------
There are 13,983,816 possible combinations
Probability of having exactly 5 winning numbers is 0.00001845
------------------------------------
There are 13,983,816 possible combinations
Probability of having exactly 6 winning numbers is 0.00000007
------------------------------------

In [40]:
def probability_less_6_outcomes(num):
    total_outcomes = combinations(49, 6)
    remaining_outcomes = combinations(43, 6 - num)
    successful_outcomes = combinations(6, num) * remaining_outcomes
    return successful_outcomes

def atleast_probability(numbers):
    if numbers == 7:
        return 0
    else:
        succ_outcomes = probability_less_6_outcomes(numbers)
        prob = succ_outcomes / combinations(49, 6)
        return prob + atleast_probability(numbers + 1)

In [43]:
for i in range(1, 7):
    prb = atleast_probability(i)
    print('probability of winning atleast {0} winning numbers is {1:.8f}'.format(i, prb))

probability of winning atleast 1 winning numbers is 0.56403502
probability of winning atleast 2 winning numbers is 0.15101557
probability of winning atleast 3 winning numbers is 0.01863755
probability of winning atleast 4 winning numbers is 0.00098714
probability of winning atleast 5 winning numbers is 0.00001852
probability of winning atleast 6 winning numbers is 0.00000007